.District {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.Logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.Logo:hover {
    cursor: pointer;
}

.DistrictButton {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.3em;
    transition-duration: 0.4s;
    border-width: 2px;
    width: 34%;
    height: 60%;
}

.DistrictButtonSelected {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(158, 220, 223);
    font-size: 1.3em;
    transition-duration: 0.4s;
    border-width: 2px;
    width: 34%;
    height: 60%;
}

.DistrictButton:hover {
    background-color: #c3edea;
    cursor: pointer;
}

.DistrictButtonSelected:hover {
    background-color: #c3edea;
    cursor: pointer;
}